In [1]:
import pandas

In [3]:
df = pandas.read_csv("../data/gapminder.tsv", sep="\t")

In [4]:
df.head()

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106

In [5]:
import pandas as pd

In [6]:
df = pd.read_csv("../data/gapminder.tsv", sep="\t")

In [20]:
type(df)

pandas.core.frame.DataFrame

In [21]:
df.shape

(1704, 6)

In [22]:
df.shape()

TypeError: 'tuple' object is not callable

In [23]:
df.head()

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106

In [24]:
df.columns

Index(['country', 'continent', 'year', 'lifeExp', 'pop', 'gdpPercap'], dtype='object')

In [25]:
df.index

RangeIndex(start=0, stop=1704, step=1)

In [27]:
df.values

array([['Afghanistan', 'Asia', 1952, 28.801, 8425333, 779.4453145],
       ['Afghanistan', 'Asia', 1957, 30.331999999999997, 9240934,
        820.8530296],
       ['Afghanistan', 'Asia', 1962, 31.997, 10267083, 853.1007099999999],
       ...,
       ['Zimbabwe', 'Africa', 1997, 46.809, 11404948, 792.4499602999999],
       ['Zimbabwe', 'Africa', 2002, 39.989000000000004, 11926563,
        672.0386227000001],
       ['Zimbabwe', 'Africa', 2007, 43.486999999999995, 12311143,
        469.70929810000007]], dtype=object)

In [28]:
df.dtypes

country       object
continent     object
year           int64
lifeExp      float64
pop            int64
gdpPercap    float64
dtype: object

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1704 entries, 0 to 1703
Data columns (total 6 columns):
country      1704 non-null object
continent    1704 non-null object
year         1704 non-null int64
lifeExp      1704 non-null float64
pop          1704 non-null int64
gdpPercap    1704 non-null float64
dtypes: float64(2), int64(2), object(2)
memory usage: 80.0+ KB

In [32]:
country_df = df[['country']]

In [34]:
country_df.head()

       country
0  Afghanistan
1  Afghanistan
2  Afghanistan
3  Afghanistan
4  Afghanistan

In [35]:
subset = df[['country', 'continent', 'year']]

In [36]:
subset.head()

       country continent  year
0  Afghanistan      Asia  1952
1  Afghanistan      Asia  1957
2  Afghanistan      Asia  1962
3  Afghanistan      Asia  1967
4  Afghanistan      Asia  1972

In [37]:
pandas.__version__

'0.24.2'

In [38]:
df.head()

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106

In [39]:
df.loc[0]

country      Afghanistan
continent           Asia
year                1952
lifeExp           28.801
pop              8425333
gdpPercap        779.445
Name: 0, dtype: object

In [40]:
df.loc[[0]]

       country continent  year  lifeExp      pop   gdpPercap
0  Afghanistan      Asia  1952   28.801  8425333  779.445314

In [41]:
df.loc[-1]

KeyError: -1

In [42]:
df.head()

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106

In [43]:
df.iloc[[0]]

       country continent  year  lifeExp      pop   gdpPercap
0  Afghanistan      Asia  1952   28.801  8425333  779.445314

In [44]:
df.ix[[0]]

C:\Users\Danie\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

       country continent  year  lifeExp      pop   gdpPercap
0  Afghanistan      Asia  1952   28.801  8425333  779.445314

In [45]:
subset = df.loc[:100, ['year', 'pop']]

In [46]:
subset.head()

   year       pop
0  1952   8425333
1  1957   9240934
2  1962  10267083
3  1967  11537966
4  1972  13079460

In [47]:
subset = df.iloc[:100, ['year', 'pop']]

TypeError: cannot perform reduce with flexible type

In [48]:
subset = df.iloc[:100, [2, 4]]

In [49]:
subset.head()

   year       pop
0  1952   8425333
1  1957   9240934
2  1962  10267083
3  1967  11537966
4  1972  13079460

# group calculations

In [52]:
df.sample(10)

              country continent  year  lifeExp        pop     gdpPercap
199      Burkina Faso    Africa  1987   49.557    7586551    912.063142
306          Colombia  Americas  1982   66.653   27764644   4397.575659
1132          Nigeria    Africa  1972   42.821   53740085   1698.388838
1401          Somalia    Africa  1997   43.795    6633514    930.596428
1369  Slovak Republic    Europe  1957   67.450    3844277   6093.262980
1441            Sudan    Africa  1957   39.624    9753392   1770.337074
1478      Switzerland    Europe  1962   71.320    5666000  20431.092700
107        Bangladesh      Asia  2007   64.062  150448339   1391.253792
885           Lesotho    Africa  1997   55.558    1982823   1186.147994
962        Mauritania    Africa  1962   44.248    1146757   1055.896036

In [55]:
df.groupby('year')['lifeExp'].mean()

year
1952    49.057620
1957    51.507401
1962    53.609249
1967    55.678290
1972    57.647386
1977    59.570157
1982    61.533197
1987    63.212613
1992    64.160338
1997    65.014676
2002    65.694923
2007    67.007423
Name: lifeExp, dtype: float64

In [57]:
grouped = df.groupby(['year', 'continent'])[['lifeExp', 'gdpPercap']].mean()

In [58]:
grouped.columns

Index(['lifeExp', 'gdpPercap'], dtype='object')

In [59]:
grouped.index

MultiIndex(levels=[[1952, 1957, 1962, 1967, 1972, 1977, 1982, 1987, 1992, 1997, 2002, 2007], ['Africa', 'Americas', 'Asia', 'Europe', 'Oceania']],
           codes=[[0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 3, 3, 3, 3, 3, 4, 4, 4, 4, 4, 5, 5, 5, 5, 5, 6, 6, 6, 6, 6, 7, 7, 7, 7, 7, 8, 8, 8, 8, 8, 9, 9, 9, 9, 9, 10, 10, 10, 10, 10, 11, 11, 11, 11, 11], [0, 1, 2, 3, 4, 0, 1, 2, 3, 4, 0, 1, 2, 3, 4, 0, 1, 2, 3, 4, 0, 1, 2, 3, 4, 0, 1, 2, 3, 4, 0, 1, 2, 3, 4, 0, 1, 2, 3, 4, 0, 1, 2, 3, 4, 0, 1, 2, 3, 4, 0, 1, 2, 3, 4, 0, 1, 2, 3, 4]],
           names=['year', 'continent'])

In [60]:
grouped.head()

                  lifeExp     gdpPercap
year continent
1952 Africa     39.135500   1252.572466
     Americas   53.279840   4079.062552
     Asia       46.314394   5195.484004
     Europe     64.408500   5661.057435
     Oceania    69.255000  10298.085650

In [61]:
type(grouped)

pandas.core.frame.DataFrame

In [63]:
grouped.reset_index().sample(10)

    year continent    lifeExp     gdpPercap
30  1982    Africa  51.592865   2481.592960
17  1967      Asia  54.663640   5971.173374
46  1997  Americas  71.150480   8889.300863
54  2002   Oceania  79.740000  26938.778040
4   1952   Oceania  69.255000  10298.085650
10  1962    Africa  43.319442   1598.078825
29  1977   Oceania  72.855000  17283.957605
16  1967  Americas  60.410920   5668.253496
18  1967    Europe  69.737600  10143.823757
51  2002  Americas  72.422040   9287.677107